{% extends "base.html" %}

{% block title %}Lista preparate{% endblock %}

{% block content %}
<style>
  .menus-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }

  .meniu-card {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
    padding-bottom: 15px;
  }
  .meniu-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  .meniu-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .meniu-card h2 {
    font-size: 1.1em;
    margin: 5px 0;
  }

  .meniu-card p {
    margin: 2px 0;
    color: #555;
    font-size: 0.9em;
  }
</style>
  <p>Hello, {{ user.username }}, from our html page!</p>

      <div class="menus-container" >
        {% for meniu in menus %}
          <div class="meniu-card">
              {% if meniu.thumbnail_image %}
                  <img src="{{ meniu.thumbnail_image.url }}" alt="Thumbnail for {{ meniu.title }}" width="250" />
              {% endif %}
              <h2>{{ meniu.title }}</h2>
              <p>by {{ meniu.client }}</p>
              <p>{{ meniu.meniu_number }}</p>
              <p>added by: <a href="{% url 'meniu_by_user' user_id=meniu.created_by.id  %}" >{{ meniu.created_by }}</a></p>

              <a href="{% url 'meniu_update' pk=meniu.pk %}" style="text-decoration: none;" >✍️</a>
              <a href="{% url 'meniu_delete' pk=meniu.pk %}" style="text-decoration: none;" >🗑️</a>
          </div>
        {% endfor %}
      </div>

  <p>Today's time is: {{ current_time }}</p>

{% endblock %}